*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
}
.container{
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 25px 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    text-align: right;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px white, inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    color: #757575;
    font-size: 50px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 35px;
}
button{
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    box-shadow: -5px -5px 12px white, 5px 5px 12px rgba(0, 0, 0, 0.16);
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    box-shadow: inset -5px -5px 12px #a9cff5, inset 5px 5px 12px rgba(0, 0, 0, 0.16);
}
.equal{
    width: 115px;
    border-radius: 25px;
}

footer p{
    text-align: center;
}